.main {

  .content {
    background-color: #FEF9F4;
    max-height: 23.6em;
    padding: 1.35716em;
    height: 100%;
    width: calc(100% - 2.8em);

    .breadcrumbs {
      color: #939598;
      text-transform: uppercase;
      font-size: 0.50932em;
      font-weight: 600;
      margin-bottom: 0.33961em;

      a {
        color: #939598;
        position: relative;
        margin-right: 1em;
        margin-left: 0.6875em;

        &:first-child {
          margin-left: 0;
        }

        &:after {
          position: absolute;
          content: "";
          background-image: url(../../assets/icons/arrow_brand.svg);
          width: 0.375em;
          height: 1.0em;
          top: calc(50% - 0.7em);
          right: -1.25em;
        }
      }

      span {
        margin-left: 0.6875em;
      }
    }

    .slider {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;

      overflow: hidden;
      flex: 1;
      margin-top: 0.5088em;

      &-slide {
        width: 100%;

        .block-1 {
          align-items: flex-start;
          justify-content: flex-start;
          width: 24.433em;
        }

        &-block {
          display: flex;
          flex-direction: column;
          width: auto;
          height: 100%;
          margin-top: 0;
          max-height: 22em;
          padding-right: 0.6791em;
          padding-left: 0.6791em;

          &:last-child {
            padding-right: 0;
          }

          &:first-child {
            padding-left: 0;
          }

          &-item {
            flex-grow: 1;
            margin-bottom: 0.3395em;
            margin-top: 0.3395em;

            &:last-child {
              margin-bottom: 0;
            }

            &-left {
              border: 1px solid #E5E8E9;
              background-color: #fff;
              margin-right: 0.3395em;
              min-width: 2.88615em;
              max-width: 2.88615em;
              padding: 0.38199em;

              img {
                max-width: 100%;
              }
            }

            &-right {
              margin-left: 0.3395em;

              span {
                font-weight: 900;
                font-size: 0.5942em;
                line-height: 1.71428em;
              }

              p {
                font-size: 0.55176em;
                margin: 0;
                line-height: 1.54em;
              }
            }
          }
        }

        &-img {
          margin-right: 0.6791em;
          margin-left: 0.6791em;
          width: 14.6em;

          img {
            width: 100%;
            height: auto;
          }
        }
      }

    }

    .navigation {

      list-style-type: none;
      margin: 0;
      padding: 0;

      .prev {
        background-image: url(../../assets/icons/prev_next.svg);
        background-repeat: no-repeat;
        color: #41C7CF;
        background-color: #fff;
        font-size: 0.46687718583em;
        line-height: 1.636363em;
        width: 5.545em;

        height: 2.364em;

      }
    }
  }
}


